
body {
  margin: 0;
  padding: 0;
}
.App {
  box-sizing: border-box;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  width: 60%;
  min-width: 320px;
  margin: auto;
  padding: 0 10px;
}
.todoItem {
  display: grid;
  grid-template-columns: 20px 1fr 30px;
  align-items: center;
}
.todoItem .done {
  text-decoration: line-through;
}
.todoAdd {
  display: flex;
}
.todoAdd input {
  width: 100%;
}
h1 {
  text-align: center;
}